<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>External LDAP Authentication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AADwDwAA8A8AAPAPAADwDwAA8A8AAPAPAADwDwAA+98AAPvfAAD73wAA/D8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <main class="container">
        {% if layout.error %}<div class="alert">{{ layout.error }}</div>{% endif %}
        <article class="container">
            <div>
                <hgroup>
                    <h1>{{ layout.title }}</h1>
                    <p>{{ layout.message }}</p>
                </hgroup>
            </div>
            <div>
        </article>
    </main>
    <footer class="container">
        <small><a href="https://github.com/Argelbargel/external-ingress-auth" target="_blank">Powered by External Ingress Authentication</a></small>    
    </footer>
</body>
</html>